Source: wakatime-cli
Section: devel
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: CyberVitexus <vitex@exiv.brevnov.cz>
Build-Depends: debhelper-compat (= 13),
               golang-any,
               appstream,
               help2man,
Standards-Version: 4.6.2
Homepage: https://github.com/wakatime/wakatime-cli
Vcs-Browser: https://github.com/wakatime/wakatime-cli
Vcs-Git: https://github.com/wakatime/wakatime-cli.git
Rules-Requires-Root: no

Package: wakatime-cli
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Command line interface used by all WakaTime text editor plugins
 If you are building a plugin using the WakaTime API
